@use 'sass:map';

$directions: (
  up: (
    translate: translateY(100%)
  ),
  down: (
    translate: translateY(-100%)
  ),
  left: (
    translate: translateX(100%)
  ),
  right: (
    translate: translateX(-100%)
  )
);

@each $direction, $styles in $directions {
  .move-#{$direction}-enter-active,
  .move-#{$direction}-leave-active {
    transition-timing-function: ease-out;
    transition-duration: $transition-duration;
    transition-property: transform, opacity;
  }

  .move-#{$direction}-enter-from,
  .move-#{$direction}-leave-to {
    transform: map.get($styles, 'translate');
    opacity: 0;
  }
}

@keyframes move-down-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes move-down-out {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes move-up-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes move-up-out {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes move-right-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes move-right-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes move-left-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes move-left-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
