@font-face {
  font-family: "iconfont";
  src: url("@shuo-ui/styles/common/iconfont/iconfont.woff2") format("woff2"),
    url("@shuo-ui/styles/common/iconfont/iconfont.woff") format("woff"),
    url("@shuo-ui/styles/common/iconfont/iconfont.ttf") format("truetype");
}

[class*=#{$css-prefix-iconfont}] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$css-prefix-iconfont}loading:before {
  content: "\e64f";
}

.#{$css-prefix-iconfont}indent:before {
  content: "\e86f";
}

.#{$css-prefix-iconfont}alipay-square-fill:before {
  content: "\e96f";
}

.#{$css-prefix-iconfont}outdent:before {
  content: "\e870";
}

.#{$css-prefix-iconfont}dingtalk-square-fill:before {
  content: "\e970";
}

.#{$css-prefix-iconfont}menu:before {
  content: "\e871";
}

.#{$css-prefix-iconfont}CodeSandbox-square-f:before {
  content: "\e971";
}

.#{$css-prefix-iconfont}unorderedlist:before {
  content: "\e872";
}

.#{$css-prefix-iconfont}behance-square-fill:before {
  content: "\e972";
}

.#{$css-prefix-iconfont}orderedlist:before {
  content: "\e873";
}

.#{$css-prefix-iconfont}amazon-square-fill:before {
  content: "\e973";
}

.#{$css-prefix-iconfont}align-right:before {
  content: "\e874";
}

.#{$css-prefix-iconfont}codepen-square-fill:before {
  content: "\e974";
}

.#{$css-prefix-iconfont}align-center:before {
  content: "\e875";
}

.#{$css-prefix-iconfont}dribbble-square-fill:before {
  content: "\e975";
}

.#{$css-prefix-iconfont}align-left:before {
  content: "\e876";
}

.#{$css-prefix-iconfont}dropbox-square-fill:before {
  content: "\e976";
}

.#{$css-prefix-iconfont}pic-center:before {
  content: "\e877";
}

.#{$css-prefix-iconfont}facebook-fill:before {
  content: "\e977";
}

.#{$css-prefix-iconfont}pic-right:before {
  content: "\e878";
}

.#{$css-prefix-iconfont}googleplus-square-f:before {
  content: "\e978";
}

.#{$css-prefix-iconfont}pic-left:before {
  content: "\e879";
}

.#{$css-prefix-iconfont}google-square-fill:before {
  content: "\e979";
}

.#{$css-prefix-iconfont}bold:before {
  content: "\e87a";
}

.#{$css-prefix-iconfont}instagram-fill:before {
  content: "\e97a";
}

.#{$css-prefix-iconfont}font-colors:before {
  content: "\e87b";
}

.#{$css-prefix-iconfont}IE-square-fill:before {
  content: "\e97b";
}

.#{$css-prefix-iconfont}exclaimination:before {
  content: "\e87c";
}

.#{$css-prefix-iconfont}medium-square-fill:before {
  content: "\e97c";
}

.#{$css-prefix-iconfont}check-circle:before {
  content: "\e77d";
}

.#{$css-prefix-iconfont}font-size:before {
  content: "\e87d";
}

.#{$css-prefix-iconfont}linkedin-fill:before {
  content: "\e97d";
}

.#{$css-prefix-iconfont}CI:before {
  content: "\e77e";
}

.#{$css-prefix-iconfont}infomation:before {
  content: "\e87e";
}

.#{$css-prefix-iconfont}QQ-square-fill:before {
  content: "\e97e";
}

.#{$css-prefix-iconfont}Dollar:before {
  content: "\e77f";
}

.#{$css-prefix-iconfont}line-height:before {
  content: "\e87f";
}

.#{$css-prefix-iconfont}reddit-square-fill:before {
  content: "\e97f";
}

.#{$css-prefix-iconfont}compass:before {
  content: "\e780";
}

.#{$css-prefix-iconfont}strikethrough:before {
  content: "\e880";
}

.#{$css-prefix-iconfont}twitter-square-fill:before {
  content: "\e980";
}

.#{$css-prefix-iconfont}close-circle:before {
  content: "\e781";
}

.#{$css-prefix-iconfont}underline:before {
  content: "\e881";
}

.#{$css-prefix-iconfont}sketch-square-fill:before {
  content: "\e981";
}

.#{$css-prefix-iconfont}frown:before {
  content: "\e782";
}

.#{$css-prefix-iconfont}number:before {
  content: "\e882";
}

.#{$css-prefix-iconfont}slack-square-fill:before {
  content: "\e982";
}

.#{$css-prefix-iconfont}info-circle:before {
  content: "\e783";
}

.#{$css-prefix-iconfont}italic:before {
  content: "\e883";
}

.#{$css-prefix-iconfont}taobao-square-fill:before {
  content: "\e983";
}

.#{$css-prefix-iconfont}left-circle:before {
  content: "\e784";
}

.#{$css-prefix-iconfont}code:before {
  content: "\e884";
}

.#{$css-prefix-iconfont}weibo-square-fill:before {
  content: "\e984";
}

.#{$css-prefix-iconfont}down-circle:before {
  content: "\e785";
}

.#{$css-prefix-iconfont}column-width:before {
  content: "\e885";
}

.#{$css-prefix-iconfont}zhihu-square-fill:before {
  content: "\e985";
}

.#{$css-prefix-iconfont}EURO:before {
  content: "\e786";
}

.#{$css-prefix-iconfont}check:before {
  content: "\e886";
}

.#{$css-prefix-iconfont}zoomout:before {
  content: "\e986";
}

.#{$css-prefix-iconfont}copyright:before {
  content: "\e787";
}

.#{$css-prefix-iconfont}ellipsis:before {
  content: "\e887";
}

.#{$css-prefix-iconfont}apartment:before {
  content: "\e987";
}

.#{$css-prefix-iconfont}minus-circle:before {
  content: "\e788";
}

.#{$css-prefix-iconfont}dash:before {
  content: "\e888";
}

.#{$css-prefix-iconfont}audio:before {
  content: "\e988";
}

.#{$css-prefix-iconfont}meh:before {
  content: "\e789";
}

.#{$css-prefix-iconfont}close:before {
  content: "\e889";
}

.#{$css-prefix-iconfont}audio-fill:before {
  content: "\e989";
}

.#{$css-prefix-iconfont}plus-circle:before {
  content: "\e78a";
}

.#{$css-prefix-iconfont}enter:before {
  content: "\e88a";
}

.#{$css-prefix-iconfont}robot:before {
  content: "\e98a";
}

.#{$css-prefix-iconfont}play-circle:before {
  content: "\e78b";
}

.#{$css-prefix-iconfont}line:before {
  content: "\e88b";
}

.#{$css-prefix-iconfont}zoomin:before {
  content: "\e98b";
}

.#{$css-prefix-iconfont}question-circle:before {
  content: "\e78c";
}

.#{$css-prefix-iconfont}minus:before {
  content: "\e88c";
}

.#{$css-prefix-iconfont}robot-fill:before {
  content: "\e98c";
}

.#{$css-prefix-iconfont}Pound:before {
  content: "\e78d";
}

.#{$css-prefix-iconfont}question:before {
  content: "\e88d";
}

.#{$css-prefix-iconfont}bug-fill:before {
  content: "\e98d";
}

.#{$css-prefix-iconfont}right-circle:before {
  content: "\e78e";
}

.#{$css-prefix-iconfont}rollback:before {
  content: "\e88e";
}

.#{$css-prefix-iconfont}bug:before {
  content: "\e98e";
}

.#{$css-prefix-iconfont}smile:before {
  content: "\e78f";
}

.#{$css-prefix-iconfont}small-dash:before {
  content: "\e88f";
}

.#{$css-prefix-iconfont}audiostatic:before {
  content: "\e98f";
}

.#{$css-prefix-iconfont}trademark:before {
  content: "\e790";
}

.#{$css-prefix-iconfont}pause:before {
  content: "\e890";
}

.#{$css-prefix-iconfont}comment:before {
  content: "\e990";
}

.#{$css-prefix-iconfont}time-circle:before {
  content: "\e791";
}

.#{$css-prefix-iconfont}bg-colors:before {
  content: "\e891";
}

.#{$css-prefix-iconfont}signal-fill:before {
  content: "\e991";
}

.#{$css-prefix-iconfont}timeout:before {
  content: "\e792";
}

.#{$css-prefix-iconfont}crown:before {
  content: "\e892";
}

.#{$css-prefix-iconfont}verified:before {
  content: "\e992";
}

.#{$css-prefix-iconfont}earth:before {
  content: "\e793";
}

.#{$css-prefix-iconfont}drag:before {
  content: "\e893";
}

.#{$css-prefix-iconfont}shortcut-fill:before {
  content: "\e993";
}

.#{$css-prefix-iconfont}YUAN:before {
  content: "\e794";
}

.#{$css-prefix-iconfont}desktop:before {
  content: "\e894";
}

.#{$css-prefix-iconfont}videocameraadd:before {
  content: "\e994";
}

.#{$css-prefix-iconfont}up-circle:before {
  content: "\e795";
}

.#{$css-prefix-iconfont}gift:before {
  content: "\e895";
}

.#{$css-prefix-iconfont}switchuser:before {
  content: "\e995";
}

.#{$css-prefix-iconfont}warning-circle:before {
  content: "\e796";
}

.#{$css-prefix-iconfont}stop:before {
  content: "\e896";
}

.#{$css-prefix-iconfont}whatsapp:before {
  content: "\e996";
}

.#{$css-prefix-iconfont}sync:before {
  content: "\e797";
}

.#{$css-prefix-iconfont}fire:before {
  content: "\e897";
}

.#{$css-prefix-iconfont}appstoreadd:before {
  content: "\e997";
}

.#{$css-prefix-iconfont}transaction:before {
  content: "\e798";
}

.#{$css-prefix-iconfont}thunderbolt:before {
  content: "\e898";
}

.#{$css-prefix-iconfont}caret-down:before {
  content: "\e998";
}

.#{$css-prefix-iconfont}undo:before {
  content: "\e799";
}

.#{$css-prefix-iconfont}check-circle-fill:before {
  content: "\e899";
}

.#{$css-prefix-iconfont}backward:before {
  content: "\e999";
}

.#{$css-prefix-iconfont}redo:before {
  content: "\e79a";
}

.#{$css-prefix-iconfont}left-circle-fill:before {
  content: "\e89a";
}

.#{$css-prefix-iconfont}caret-up:before {
  content: "\e99a";
}

.#{$css-prefix-iconfont}reload:before {
  content: "\e79b";
}

.#{$css-prefix-iconfont}down-circle-fill:before {
  content: "\e89b";
}

.#{$css-prefix-iconfont}caret-right:before {
  content: "\e99b";
}

.#{$css-prefix-iconfont}reloadtime:before {
  content: "\e79c";
}

.#{$css-prefix-iconfont}minus-circle-fill:before {
  content: "\e89c";
}

.#{$css-prefix-iconfont}caret-left:before {
  content: "\e99c";
}

.#{$css-prefix-iconfont}message:before {
  content: "\e79d";
}

.#{$css-prefix-iconfont}close-circle-fill:before {
  content: "\e89d";
}

.#{$css-prefix-iconfont}fast-backward:before {
  content: "\e99d";
}

.#{$css-prefix-iconfont}dashboard:before {
  content: "\e79e";
}

.#{$css-prefix-iconfont}info-circle-fill:before {
  content: "\e89e";
}

.#{$css-prefix-iconfont}forward:before {
  content: "\e99e";
}

.#{$css-prefix-iconfont}issuesclose:before {
  content: "\e79f";
}

.#{$css-prefix-iconfont}up-circle-fill:before {
  content: "\e89f";
}

.#{$css-prefix-iconfont}fast-forward:before {
  content: "\e99f";
}

.#{$css-prefix-iconfont}poweroff:before {
  content: "\e7a0";
}

.#{$css-prefix-iconfont}right-circle-fill:before {
  content: "\e8a0";
}

.#{$css-prefix-iconfont}search:before {
  content: "\e9a0";
}

.#{$css-prefix-iconfont}logout:before {
  content: "\e7a1";
}

.#{$css-prefix-iconfont}plus-circle-fill:before {
  content: "\e8a1";
}

.#{$css-prefix-iconfont}retweet:before {
  content: "\e9a1";
}

.#{$css-prefix-iconfont}piechart:before {
  content: "\e7a2";
}

.#{$css-prefix-iconfont}question-circle-fill:before {
  content: "\e8a2";
}

.#{$css-prefix-iconfont}login:before {
  content: "\e9a2";
}

.#{$css-prefix-iconfont}setting:before {
  content: "\e7a3";
}

.#{$css-prefix-iconfont}EURO-circle-fill:before {
  content: "\e8a3";
}

.#{$css-prefix-iconfont}step-backward:before {
  content: "\e9a3";
}

.#{$css-prefix-iconfont}eye:before {
  content: "\e7a4";
}

.#{$css-prefix-iconfont}frown-fill:before {
  content: "\e8a4";
}

.#{$css-prefix-iconfont}step-forward:before {
  content: "\e9a4";
}

.#{$css-prefix-iconfont}location:before {
  content: "\e7a5";
}

.#{$css-prefix-iconfont}copyright-circle-fil:before {
  content: "\e8a5";
}

.#{$css-prefix-iconfont}swap-right:before {
  content: "\e9a5";
}

.#{$css-prefix-iconfont}edit-square:before {
  content: "\e7a6";
}

.#{$css-prefix-iconfont}CI-circle-fill:before {
  content: "\e8a6";
}

.#{$css-prefix-iconfont}swap-left:before {
  content: "\e9a6";
}

.#{$css-prefix-iconfont}export:before {
  content: "\e7a7";
}

.#{$css-prefix-iconfont}compass-fill:before {
  content: "\e8a7";
}

.#{$css-prefix-iconfont}woman:before {
  content: "\e9a7";
}

.#{$css-prefix-iconfont}save:before {
  content: "\e7a8";
}

.#{$css-prefix-iconfont}Dollar-circle-fill:before {
  content: "\e8a8";
}

.#{$css-prefix-iconfont}plus:before {
  content: "\e9a8";
}

.#{$css-prefix-iconfont}Import:before {
  content: "\e7a9";
}

.#{$css-prefix-iconfont}poweroff-circle-fill:before {
  content: "\e8a9";
}

.#{$css-prefix-iconfont}eyeclose-fill:before {
  content: "\e9a9";
}

.#{$css-prefix-iconfont}appstore:before {
  content: "\e7aa";
}

.#{$css-prefix-iconfont}meh-fill:before {
  content: "\e8aa";
}

.#{$css-prefix-iconfont}eye-close:before {
  content: "\e9aa";
}

.#{$css-prefix-iconfont}close-square:before {
  content: "\e7ab";
}

.#{$css-prefix-iconfont}play-circle-fill:before {
  content: "\e8ab";
}

.#{$css-prefix-iconfont}clear:before {
  content: "\e9ab";
}

.#{$css-prefix-iconfont}down-square:before {
  content: "\e7ac";
}

.#{$css-prefix-iconfont}Pound-circle-fill:before {
  content: "\e8ac";
}

.#{$css-prefix-iconfont}collapse:before {
  content: "\e9ac";
}

.#{$css-prefix-iconfont}layout:before {
  content: "\e7ad";
}

.#{$css-prefix-iconfont}smile-fill:before {
  content: "\e8ad";
}

.#{$css-prefix-iconfont}expand:before {
  content: "\e9ad";
}

.#{$css-prefix-iconfont}left-square:before {
  content: "\e7ae";
}

.#{$css-prefix-iconfont}stop-fill:before {
  content: "\e8ae";
}

.#{$css-prefix-iconfont}deletecolumn:before {
  content: "\e9ae";
}

.#{$css-prefix-iconfont}play-square:before {
  content: "\e7af";
}

.#{$css-prefix-iconfont}warning-circle-fill:before {
  content: "\e8af";
}

.#{$css-prefix-iconfont}merge-cells:before {
  content: "\e9af";
}

.#{$css-prefix-iconfont}control:before {
  content: "\e7b0";
}

.#{$css-prefix-iconfont}time-circle-fill:before {
  content: "\e8b0";
}

.#{$css-prefix-iconfont}subnode:before {
  content: "\e9b0";
}

.#{$css-prefix-iconfont}codelibrary:before {
  content: "\e7b1";
}

.#{$css-prefix-iconfont}trademark-circle-fil:before {
  content: "\e8b1";
}

.#{$css-prefix-iconfont}rotate-left:before {
  content: "\e9b1";
}

.#{$css-prefix-iconfont}detail:before {
  content: "\e7b2";
}

.#{$css-prefix-iconfont}YUAN-circle-fill:before {
  content: "\e8b2";
}

.#{$css-prefix-iconfont}rotate-right:before {
  content: "\e9b2";
}

.#{$css-prefix-iconfont}minus-square:before {
  content: "\e7b3";
}

.#{$css-prefix-iconfont}heart-fill:before {
  content: "\e8b3";
}

.#{$css-prefix-iconfont}insertrowbelow:before {
  content: "\e9b3";
}

.#{$css-prefix-iconfont}plus-square:before {
  content: "\e7b4";
}

.#{$css-prefix-iconfont}piechart-circle-fil:before {
  content: "\e8b4";
}

.#{$css-prefix-iconfont}insertrowabove:before {
  content: "\e9b4";
}

.#{$css-prefix-iconfont}right-square:before {
  content: "\e7b5";
}

.#{$css-prefix-iconfont}dashboard-fill:before {
  content: "\e8b5";
}

.#{$css-prefix-iconfont}table1:before {
  content: "\e9b5";
}

.#{$css-prefix-iconfont}project:before {
  content: "\e7b6";
}

.#{$css-prefix-iconfont}message-fill:before {
  content: "\e8b6";
}

.#{$css-prefix-iconfont}solit-cells:before {
  content: "\e9b6";
}

.#{$css-prefix-iconfont}wallet:before {
  content: "\e7b7";
}

.#{$css-prefix-iconfont}check-square-fill:before {
  content: "\e8b7";
}

.#{$css-prefix-iconfont}formatpainter:before {
  content: "\e9b7";
}

.#{$css-prefix-iconfont}up-square:before {
  content: "\e7b8";
}

.#{$css-prefix-iconfont}down-square-fill:before {
  content: "\e8b8";
}

.#{$css-prefix-iconfont}insertrowright:before {
  content: "\e9b8";
}

.#{$css-prefix-iconfont}calculator:before {
  content: "\e7b9";
}

.#{$css-prefix-iconfont}minus-square-fill:before {
  content: "\e8b9";
}

.#{$css-prefix-iconfont}formatpainter-fill:before {
  content: "\e9b9";
}

.#{$css-prefix-iconfont}interation:before {
  content: "\e7ba";
}

.#{$css-prefix-iconfont}close-square-fill:before {
  content: "\e8ba";
}

.#{$css-prefix-iconfont}insertrowleft:before {
  content: "\e9ba";
}

.#{$css-prefix-iconfont}check-square:before {
  content: "\e7bb";
}

.#{$css-prefix-iconfont}codelibrary-fill:before {
  content: "\e8bb";
}

.#{$css-prefix-iconfont}translate:before {
  content: "\e9bb";
}

.#{$css-prefix-iconfont}border:before {
  content: "\e7bc";
}

.#{$css-prefix-iconfont}left-square-fill:before {
  content: "\e8bc";
}

.#{$css-prefix-iconfont}deleterow:before {
  content: "\e9bc";
}

.#{$css-prefix-iconfont}border-outer:before {
  content: "\e7bd";
}

.#{$css-prefix-iconfont}play-square-fill:before {
  content: "\e8bd";
}

.#{$css-prefix-iconfont}sisternode:before {
  content: "\e9bd";
}

.#{$css-prefix-iconfont}border-top:before {
  content: "\e7be";
}

.#{$css-prefix-iconfont}up-square-fill:before {
  content: "\e8be";
}

.#{$css-prefix-iconfont}Field-number:before {
  content: "\e9be";
}

.#{$css-prefix-iconfont}border-bottom:before {
  content: "\e7bf";
}

.#{$css-prefix-iconfont}right-square-fill:before {
  content: "\e8bf";
}

.#{$css-prefix-iconfont}Field-String:before {
  content: "\e9bf";
}

.#{$css-prefix-iconfont}border-left:before {
  content: "\e7c0";
}

.#{$css-prefix-iconfont}plus-square-fill:before {
  content: "\e8c0";
}

.#{$css-prefix-iconfont}Function:before {
  content: "\e9c0";
}

.#{$css-prefix-iconfont}border-right:before {
  content: "\e7c1";
}

.#{$css-prefix-iconfont}accountbook-fill:before {
  content: "\e8c1";
}

.#{$css-prefix-iconfont}Field-time:before {
  content: "\e9c1";
}

.#{$css-prefix-iconfont}border-inner:before {
  content: "\e7c2";
}

.#{$css-prefix-iconfont}carryout-fill:before {
  content: "\e8c2";
}

.#{$css-prefix-iconfont}GIF:before {
  content: "\e9c2";
}

.#{$css-prefix-iconfont}border-verticle:before {
  content: "\e7c3";
}

.#{$css-prefix-iconfont}calendar-fill:before {
  content: "\e8c3";
}

.#{$css-prefix-iconfont}Partition:before {
  content: "\e9c3";
}

.#{$css-prefix-iconfont}border-horizontal:before {
  content: "\e7c4";
}

.#{$css-prefix-iconfont}calculator-fill:before {
  content: "\e8c4";
}

.#{$css-prefix-iconfont}index:before {
  content: "\e9c4";
}

.#{$css-prefix-iconfont}radius-bottomleft:before {
  content: "\e7c5";
}

.#{$css-prefix-iconfont}interation-fill:before {
  content: "\e8c5";
}

.#{$css-prefix-iconfont}Storedprocedure:before {
  content: "\e9c5";
}

.#{$css-prefix-iconfont}radius-bottomright:before {
  content: "\e7c6";
}

.#{$css-prefix-iconfont}project-fill:before {
  content: "\e8c6";
}

.#{$css-prefix-iconfont}Field-Binary:before {
  content: "\e9c6";
}

.#{$css-prefix-iconfont}radius-upleft:before {
  content: "\e7c7";
}

.#{$css-prefix-iconfont}detail-fill:before {
  content: "\e8c7";
}

.#{$css-prefix-iconfont}Console-SQL:before {
  content: "\e9c7";
}

.#{$css-prefix-iconfont}radius-upright:before {
  content: "\e7c8";
}

.#{$css-prefix-iconfont}save-fill:before {
  content: "\e8c8";
}

.#{$css-prefix-iconfont}icon-test:before {
  content: "\e9c8";
}

.#{$css-prefix-iconfont}radius-setting:before {
  content: "\e7c9";
}

.#{$css-prefix-iconfont}wallet-fill:before {
  content: "\e8c9";
}

.#{$css-prefix-iconfont}aim:before {
  content: "\e9c9";
}

.#{$css-prefix-iconfont}adduser:before {
  content: "\e7ca";
}

.#{$css-prefix-iconfont}control-fill:before {
  content: "\e8ca";
}

.#{$css-prefix-iconfont}compress:before {
  content: "\e9ca";
}

.#{$css-prefix-iconfont}deleteteam:before {
  content: "\e7cb";
}

.#{$css-prefix-iconfont}layout-fill:before {
  content: "\e8cb";
}

.#{$css-prefix-iconfont}expend:before {
  content: "\e9cb";
}

.#{$css-prefix-iconfont}deleteuser:before {
  content: "\e7cc";
}

.#{$css-prefix-iconfont}appstore-fill:before {
  content: "\e8cc";
}

.#{$css-prefix-iconfont}folder-view:before {
  content: "\e9cc";
}

.#{$css-prefix-iconfont}addteam:before {
  content: "\e7cd";
}

.#{$css-prefix-iconfont}mobile-fill:before {
  content: "\e8cd";
}

.#{$css-prefix-iconfont}file-GIF:before {
  content: "\e9cd";
}

.#{$css-prefix-iconfont}user:before {
  content: "\e7ce";
}

.#{$css-prefix-iconfont}tablet-fill:before {
  content: "\e8ce";
}

.#{$css-prefix-iconfont}group:before {
  content: "\e9ce";
}

.#{$css-prefix-iconfont}team:before {
  content: "\e7cf";
}

.#{$css-prefix-iconfont}book-fill:before {
  content: "\e8cf";
}

.#{$css-prefix-iconfont}send:before {
  content: "\e9cf";
}

.#{$css-prefix-iconfont}areachart:before {
  content: "\e7d0";
}

.#{$css-prefix-iconfont}redenvelope-fill:before {
  content: "\e8d0";
}

.#{$css-prefix-iconfont}Report:before {
  content: "\e9d0";
}

.#{$css-prefix-iconfont}linechart:before {
  content: "\e7d1";
}

.#{$css-prefix-iconfont}safetycertificate-f:before {
  content: "\e8d1";
}

.#{$css-prefix-iconfont}View:before {
  content: "\e9d1";
}

.#{$css-prefix-iconfont}barchart:before {
  content: "\e7d2";
}

.#{$css-prefix-iconfont}propertysafety-fill:before {
  content: "\e8d2";
}

.#{$css-prefix-iconfont}shortcut:before {
  content: "\e9d2";
}

.#{$css-prefix-iconfont}pointmap:before {
  content: "\e7d3";
}

.#{$css-prefix-iconfont}insurance-fill:before {
  content: "\e8d3";
}

.#{$css-prefix-iconfont}ungroup:before {
  content: "\e9d3";
}

.#{$css-prefix-iconfont}container:before {
  content: "\e7d4";
}

.#{$css-prefix-iconfont}securityscan-fill:before {
  content: "\e8d4";
}

.#{$css-prefix-iconfont}database:before {
  content: "\e7d5";
}

.#{$css-prefix-iconfont}file-exclamation-fil:before {
  content: "\e8d5";
}

.#{$css-prefix-iconfont}sever:before {
  content: "\e7d6";
}

.#{$css-prefix-iconfont}file-add-fill:before {
  content: "\e8d6";
}

.#{$css-prefix-iconfont}mobile:before {
  content: "\e7d7";
}

.#{$css-prefix-iconfont}file-fill:before {
  content: "\e8d7";
}

.#{$css-prefix-iconfont}tablet:before {
  content: "\e7d8";
}

.#{$css-prefix-iconfont}file-excel-fill:before {
  content: "\e8d8";
}

.#{$css-prefix-iconfont}redenvelope:before {
  content: "\e7d9";
}

.#{$css-prefix-iconfont}file-markdown-fill:before {
  content: "\e8d9";
}

.#{$css-prefix-iconfont}book:before {
  content: "\e7da";
}

.#{$css-prefix-iconfont}file-text-fill:before {
  content: "\e8da";
}

.#{$css-prefix-iconfont}filedone:before {
  content: "\e7db";
}

.#{$css-prefix-iconfont}file-ppt-fill:before {
  content: "\e8db";
}

.#{$css-prefix-iconfont}reconciliation:before {
  content: "\e7dc";
}

.#{$css-prefix-iconfont}file-unknown-fill:before {
  content: "\e8dc";
}

.#{$css-prefix-iconfont}file-exception:before {
  content: "\e7dd";
}

.#{$css-prefix-iconfont}file-word-fill:before {
  content: "\e8dd";
}

.#{$css-prefix-iconfont}filesync:before {
  content: "\e7de";
}

.#{$css-prefix-iconfont}file-zip-fill:before {
  content: "\e8de";
}

.#{$css-prefix-iconfont}filesearch:before {
  content: "\e7df";
}

.#{$css-prefix-iconfont}file-pdf-fill:before {
  content: "\e8df";
}

.#{$css-prefix-iconfont}solution:before {
  content: "\e7e0";
}

.#{$css-prefix-iconfont}file-image-fill:before {
  content: "\e8e0";
}

.#{$css-prefix-iconfont}fileprotect:before {
  content: "\e7e1";
}

.#{$css-prefix-iconfont}diff-fill:before {
  content: "\e8e1";
}

.#{$css-prefix-iconfont}file-add:before {
  content: "\e7e2";
}

.#{$css-prefix-iconfont}file-copy-fill:before {
  content: "\e8e2";
}

.#{$css-prefix-iconfont}file-excel:before {
  content: "\e7e3";
}

.#{$css-prefix-iconfont}snippets-fill:before {
  content: "\e8e3";
}

.#{$css-prefix-iconfont}file-exclamation:before {
  content: "\e7e4";
}

.#{$css-prefix-iconfont}batchfolding-fill:before {
  content: "\e8e4";
}

.#{$css-prefix-iconfont}file-pdf:before {
  content: "\e7e5";
}

.#{$css-prefix-iconfont}reconciliation-fill:before {
  content: "\e8e5";
}

.#{$css-prefix-iconfont}file-image:before {
  content: "\e7e6";
}

.#{$css-prefix-iconfont}folder-add-fill:before {
  content: "\e8e6";
}

.#{$css-prefix-iconfont}file-markdown:before {
  content: "\e7e7";
}

.#{$css-prefix-iconfont}folder-fill:before {
  content: "\e8e7";
}

.#{$css-prefix-iconfont}file-unknown:before {
  content: "\e7e8";
}

.#{$css-prefix-iconfont}folder-open-fill:before {
  content: "\e8e8";
}

.#{$css-prefix-iconfont}file-ppt:before {
  content: "\e7e9";
}

.#{$css-prefix-iconfont}database-fill:before {
  content: "\e8e9";
}

.#{$css-prefix-iconfont}file-word:before {
  content: "\e7ea";
}

.#{$css-prefix-iconfont}container-fill:before {
  content: "\e8ea";
}

.#{$css-prefix-iconfont}file:before {
  content: "\e7eb";
}

.#{$css-prefix-iconfont}sever-fill:before {
  content: "\e8eb";
}

.#{$css-prefix-iconfont}file-zip:before {
  content: "\e7ec";
}

.#{$css-prefix-iconfont}calendar-check-fill:before {
  content: "\e8ec";
}

.#{$css-prefix-iconfont}file-text:before {
  content: "\e7ed";
}

.#{$css-prefix-iconfont}image-fill:before {
  content: "\e8ed";
}

.#{$css-prefix-iconfont}file-copy:before {
  content: "\e7ee";
}

.#{$css-prefix-iconfont}idcard-fill:before {
  content: "\e8ee";
}

.#{$css-prefix-iconfont}snippets:before {
  content: "\e7ef";
}

.#{$css-prefix-iconfont}creditcard-fill:before {
  content: "\e8ef";
}

.#{$css-prefix-iconfont}audit:before {
  content: "\e7f0";
}

.#{$css-prefix-iconfont}fund-fill:before {
  content: "\e8f0";
}

.#{$css-prefix-iconfont}diff:before {
  content: "\e7f1";
}

.#{$css-prefix-iconfont}read-fill:before {
  content: "\e8f1";
}

.#{$css-prefix-iconfont}Batchfolding:before {
  content: "\e7f2";
}

.#{$css-prefix-iconfont}contacts-fill:before {
  content: "\e8f2";
}

.#{$css-prefix-iconfont}securityscan:before {
  content: "\e7f3";
}

.#{$css-prefix-iconfont}delete-fill:before {
  content: "\e8f3";
}

.#{$css-prefix-iconfont}propertysafety:before {
  content: "\e7f4";
}

.#{$css-prefix-iconfont}notification-fill:before {
  content: "\e8f4";
}

.#{$css-prefix-iconfont}safetycertificate:before {
  content: "\e7f5";
}

.#{$css-prefix-iconfont}flag-fill:before {
  content: "\e8f5";
}

.#{$css-prefix-iconfont}insurance:before {
  content: "\e7f6";
}

.#{$css-prefix-iconfont}moneycollect-fill:before {
  content: "\e8f6";
}

.#{$css-prefix-iconfont}alert:before {
  content: "\e7f7";
}

.#{$css-prefix-iconfont}medicinebox-fill:before {
  content: "\e8f7";
}

.#{$css-prefix-iconfont}delete:before {
  content: "\e7f8";
}

.#{$css-prefix-iconfont}rest-fill:before {
  content: "\e8f8";
}

.#{$css-prefix-iconfont}hourglass:before {
  content: "\e7f9";
}

.#{$css-prefix-iconfont}shopping-fill:before {
  content: "\e8f9";
}

.#{$css-prefix-iconfont}bulb:before {
  content: "\e7fa";
}

.#{$css-prefix-iconfont}skin-fill:before {
  content: "\e8fa";
}

.#{$css-prefix-iconfont}experiment:before {
  content: "\e7fb";
}

.#{$css-prefix-iconfont}video-fill:before {
  content: "\e8fb";
}

.#{$css-prefix-iconfont}bell:before {
  content: "\e7fc";
}

.#{$css-prefix-iconfont}sound-fill:before {
  content: "\e8fc";
}

.#{$css-prefix-iconfont}trophy:before {
  content: "\e7fd";
}

.#{$css-prefix-iconfont}bulb-fill:before {
  content: "\e8fd";
}

.#{$css-prefix-iconfont}rest:before {
  content: "\e7fe";
}

.#{$css-prefix-iconfont}bell-fill:before {
  content: "\e8fe";
}

.#{$css-prefix-iconfont}USB:before {
  content: "\e7ff";
}

.#{$css-prefix-iconfont}filter-fill:before {
  content: "\e8ff";
}

.#{$css-prefix-iconfont}skin:before {
  content: "\e800";
}

.#{$css-prefix-iconfont}fire-fill:before {
  content: "\e900";
}

.#{$css-prefix-iconfont}home:before {
  content: "\e801";
}

.#{$css-prefix-iconfont}funnelplot-fill:before {
  content: "\e901";
}

.#{$css-prefix-iconfont}bank:before {
  content: "\e802";
}

.#{$css-prefix-iconfont}gift-fill:before {
  content: "\e902";
}

.#{$css-prefix-iconfont}filter:before {
  content: "\e803";
}

.#{$css-prefix-iconfont}hourglass-fill:before {
  content: "\e903";
}

.#{$css-prefix-iconfont}funnelplot:before {
  content: "\e804";
}

.#{$css-prefix-iconfont}home-fill:before {
  content: "\e904";
}

.#{$css-prefix-iconfont}like:before {
  content: "\e805";
}

.#{$css-prefix-iconfont}trophy-fill:before {
  content: "\e905";
}

.#{$css-prefix-iconfont}unlike:before {
  content: "\e806";
}

.#{$css-prefix-iconfont}location-fill:before {
  content: "\e906";
}

.#{$css-prefix-iconfont}unlock:before {
  content: "\e807";
}

.#{$css-prefix-iconfont}cloud-fill:before {
  content: "\e907";
}

.#{$css-prefix-iconfont}lock:before {
  content: "\e808";
}

.#{$css-prefix-iconfont}customerservice-fill:before {
  content: "\e908";
}

.#{$css-prefix-iconfont}customerservice:before {
  content: "\e809";
}

.#{$css-prefix-iconfont}experiment-fill:before {
  content: "\e909";
}

.#{$css-prefix-iconfont}flag:before {
  content: "\e80a";
}

.#{$css-prefix-iconfont}eye-fill:before {
  content: "\e90a";
}

.#{$css-prefix-iconfont}moneycollect:before {
  content: "\e80b";
}

.#{$css-prefix-iconfont}like-fill:before {
  content: "\e90b";
}

.#{$css-prefix-iconfont}medicinebox:before {
  content: "\e80c";
}

.#{$css-prefix-iconfont}lock-fill:before {
  content: "\e90c";
}

.#{$css-prefix-iconfont}shop:before {
  content: "\e80d";
}

.#{$css-prefix-iconfont}unlike-fill:before {
  content: "\e90d";
}

.#{$css-prefix-iconfont}rocket:before {
  content: "\e80e";
}

.#{$css-prefix-iconfont}star-fill:before {
  content: "\e90e";
}

.#{$css-prefix-iconfont}shopping:before {
  content: "\e80f";
}

.#{$css-prefix-iconfont}unlock-fill:before {
  content: "\e90f";
}

.#{$css-prefix-iconfont}folder:before {
  content: "\e810";
}

.#{$css-prefix-iconfont}alert-fill:before {
  content: "\e910";
}

.#{$css-prefix-iconfont}folder-open:before {
  content: "\e811";
}

.#{$css-prefix-iconfont}api-fill:before {
  content: "\e911";
}

.#{$css-prefix-iconfont}folder-add:before {
  content: "\e812";
}

.#{$css-prefix-iconfont}highlight-fill:before {
  content: "\e912";
}

.#{$css-prefix-iconfont}deploymentunit:before {
  content: "\e813";
}

.#{$css-prefix-iconfont}phone-fill:before {
  content: "\e913";
}

.#{$css-prefix-iconfont}accountbook:before {
  content: "\e814";
}

.#{$css-prefix-iconfont}edit-fill:before {
  content: "\e914";
}

.#{$css-prefix-iconfont}contacts:before {
  content: "\e815";
}

.#{$css-prefix-iconfont}pushpin-fill:before {
  content: "\e915";
}

.#{$css-prefix-iconfont}carryout:before {
  content: "\e816";
}

.#{$css-prefix-iconfont}rocket-fill:before {
  content: "\e916";
}

.#{$css-prefix-iconfont}calendar-check:before {
  content: "\e817";
}

.#{$css-prefix-iconfont}thunderbolt-fill:before {
  content: "\e917";
}

.#{$css-prefix-iconfont}calendar:before {
  content: "\e818";
}

.#{$css-prefix-iconfont}tag-fill:before {
  content: "\e918";
}

.#{$css-prefix-iconfont}scan:before {
  content: "\e819";
}

.#{$css-prefix-iconfont}wrench-fill:before {
  content: "\e919";
}

.#{$css-prefix-iconfont}select:before {
  content: "\e81a";
}

.#{$css-prefix-iconfont}tags-fill:before {
  content: "\e91a";
}

.#{$css-prefix-iconfont}boxplot:before {
  content: "\e81b";
}

.#{$css-prefix-iconfont}bank-fill:before {
  content: "\e91b";
}

.#{$css-prefix-iconfont}build:before {
  content: "\e81c";
}

.#{$css-prefix-iconfont}camera-fill:before {
  content: "\e91c";
}

.#{$css-prefix-iconfont}sliders:before {
  content: "\e81d";
}

.#{$css-prefix-iconfont}error-fill:before {
  content: "\e91d";
}

.#{$css-prefix-iconfont}laptop:before {
  content: "\e81e";
}

.#{$css-prefix-iconfont}crown-fill:before {
  content: "\e91e";
}

.#{$css-prefix-iconfont}barcode:before {
  content: "\e81f";
}

.#{$css-prefix-iconfont}mail-fill:before {
  content: "\e91f";
}

.#{$css-prefix-iconfont}camera:before {
  content: "\e820";
}

.#{$css-prefix-iconfont}car-fill:before {
  content: "\e920";
}

.#{$css-prefix-iconfont}cluster:before {
  content: "\e821";
}

.#{$css-prefix-iconfont}printer-fill:before {
  content: "\e921";
}

.#{$css-prefix-iconfont}gateway:before {
  content: "\e822";
}

.#{$css-prefix-iconfont}shop-fill:before {
  content: "\e922";
}

.#{$css-prefix-iconfont}car:before {
  content: "\e823";
}

.#{$css-prefix-iconfont}setting-fill:before {
  content: "\e923";
}

.#{$css-prefix-iconfont}printer:before {
  content: "\e824";
}

.#{$css-prefix-iconfont}USB-fill:before {
  content: "\e924";
}

.#{$css-prefix-iconfont}read:before {
  content: "\e825";
}

.#{$css-prefix-iconfont}golden-fill:before {
  content: "\e925";
}

.#{$css-prefix-iconfont}cloud-server:before {
  content: "\e826";
}

.#{$css-prefix-iconfont}build-fill:before {
  content: "\e926";
}

.#{$css-prefix-iconfont}cloud-upload:before {
  content: "\e827";
}

.#{$css-prefix-iconfont}boxplot-fill:before {
  content: "\e927";
}

.#{$css-prefix-iconfont}cloud:before {
  content: "\e828";
}

.#{$css-prefix-iconfont}sliders-fill:before {
  content: "\e928";
}

.#{$css-prefix-iconfont}cloud-download:before {
  content: "\e829";
}

.#{$css-prefix-iconfont}alibaba:before {
  content: "\e929";
}

.#{$css-prefix-iconfont}cloud-sync:before {
  content: "\e82a";
}

.#{$css-prefix-iconfont}video:before {
  content: "\e82b";
}

.#{$css-prefix-iconfont}ant-cloud:before {
  content: "\e92b";
}

.#{$css-prefix-iconfont}notification:before {
  content: "\e82c";
}

.#{$css-prefix-iconfont}behance:before {
  content: "\e92c";
}

.#{$css-prefix-iconfont}sound:before {
  content: "\e82d";
}

.#{$css-prefix-iconfont}googleplus:before {
  content: "\e92d";
}

.#{$css-prefix-iconfont}radarchart:before {
  content: "\e82e";
}

.#{$css-prefix-iconfont}medium:before {
  content: "\e92e";
}

.#{$css-prefix-iconfont}qrcode:before {
  content: "\e82f";
}

.#{$css-prefix-iconfont}google:before {
  content: "\e92f";
}

.#{$css-prefix-iconfont}fund:before {
  content: "\e830";
}

.#{$css-prefix-iconfont}IE:before {
  content: "\e930";
}

.#{$css-prefix-iconfont}image:before {
  content: "\e831";
}

.#{$css-prefix-iconfont}amazon:before {
  content: "\e931";
}

.#{$css-prefix-iconfont}mail:before {
  content: "\e832";
}

.#{$css-prefix-iconfont}slack:before {
  content: "\e932";
}

.#{$css-prefix-iconfont}table:before {
  content: "\e833";
}

.#{$css-prefix-iconfont}alipay:before {
  content: "\e933";
}

.#{$css-prefix-iconfont}idcard:before {
  content: "\e834";
}

.#{$css-prefix-iconfont}taobao:before {
  content: "\e934";
}

.#{$css-prefix-iconfont}creditcard:before {
  content: "\e835";
}

.#{$css-prefix-iconfont}zhihu:before {
  content: "\e935";
}

.#{$css-prefix-iconfont}heart:before {
  content: "\e836";
}

.#{$css-prefix-iconfont}HTML:before {
  content: "\e936";
}

.#{$css-prefix-iconfont}block:before {
  content: "\e837";
}

.#{$css-prefix-iconfont}linkedin:before {
  content: "\e937";
}

.#{$css-prefix-iconfont}error:before {
  content: "\e838";
}

.#{$css-prefix-iconfont}yahoo:before {
  content: "\e938";
}

.#{$css-prefix-iconfont}star:before {
  content: "\e839";
}

.#{$css-prefix-iconfont}facebook:before {
  content: "\e939";
}

.#{$css-prefix-iconfont}gold:before {
  content: "\e83a";
}

.#{$css-prefix-iconfont}skype:before {
  content: "\e93a";
}

.#{$css-prefix-iconfont}heatmap:before {
  content: "\e83b";
}

.#{$css-prefix-iconfont}CodeSandbox:before {
  content: "\e93b";
}

.#{$css-prefix-iconfont}wifi:before {
  content: "\e83c";
}

.#{$css-prefix-iconfont}chrome:before {
  content: "\e93c";
}

.#{$css-prefix-iconfont}attachment:before {
  content: "\e83d";
}

.#{$css-prefix-iconfont}codepen:before {
  content: "\e93d";
}

.#{$css-prefix-iconfont}edit:before {
  content: "\e83e";
}

.#{$css-prefix-iconfont}aliwangwang:before {
  content: "\e93e";
}

.#{$css-prefix-iconfont}key:before {
  content: "\e83f";
}

.#{$css-prefix-iconfont}apple:before {
  content: "\e93f";
}

.#{$css-prefix-iconfont}api:before {
  content: "\e840";
}

.#{$css-prefix-iconfont}android:before {
  content: "\e940";
}

.#{$css-prefix-iconfont}disconnect:before {
  content: "\e841";
}

.#{$css-prefix-iconfont}sketch:before {
  content: "\e941";
}

.#{$css-prefix-iconfont}highlight:before {
  content: "\e842";
}

.#{$css-prefix-iconfont}Gitlab:before {
  content: "\e942";
}

.#{$css-prefix-iconfont}monitor:before {
  content: "\e843";
}

.#{$css-prefix-iconfont}dribbble:before {
  content: "\e943";
}

.#{$css-prefix-iconfont}link:before {
  content: "\e844";
}

.#{$css-prefix-iconfont}instagram:before {
  content: "\e944";
}

.#{$css-prefix-iconfont}man:before {
  content: "\e845";
}

.#{$css-prefix-iconfont}reddit:before {
  content: "\e945";
}

.#{$css-prefix-iconfont}percentage:before {
  content: "\e846";
}

.#{$css-prefix-iconfont}windows:before {
  content: "\e946";
}

.#{$css-prefix-iconfont}pushpin:before {
  content: "\e847";
}

.#{$css-prefix-iconfont}yuque:before {
  content: "\e947";
}

.#{$css-prefix-iconfont}phone:before {
  content: "\e848";
}

.#{$css-prefix-iconfont}Youtube:before {
  content: "\e948";
}

.#{$css-prefix-iconfont}shake:before {
  content: "\e849";
}

.#{$css-prefix-iconfont}Gitlab-fill:before {
  content: "\e949";
}

.#{$css-prefix-iconfont}tag:before {
  content: "\e84a";
}

.#{$css-prefix-iconfont}dropbox:before {
  content: "\e94a";
}

.#{$css-prefix-iconfont}wrench:before {
  content: "\e84b";
}

.#{$css-prefix-iconfont}dingtalk:before {
  content: "\e94b";
}

.#{$css-prefix-iconfont}tags:before {
  content: "\e84c";
}

.#{$css-prefix-iconfont}android-fill:before {
  content: "\e94c";
}

.#{$css-prefix-iconfont}scissor:before {
  content: "\e84d";
}

.#{$css-prefix-iconfont}apple-fill:before {
  content: "\e94d";
}

.#{$css-prefix-iconfont}mr:before {
  content: "\e84e";
}

.#{$css-prefix-iconfont}HTML-fill:before {
  content: "\e94e";
}

.#{$css-prefix-iconfont}share:before {
  content: "\e84f";
}

.#{$css-prefix-iconfont}windows-fill:before {
  content: "\e94f";
}

.#{$css-prefix-iconfont}branches:before {
  content: "\e850";
}

.#{$css-prefix-iconfont}QQ:before {
  content: "\e950";
}

.#{$css-prefix-iconfont}fork:before {
  content: "\e851";
}

.#{$css-prefix-iconfont}twitter:before {
  content: "\e951";
}

.#{$css-prefix-iconfont}shrink:before {
  content: "\e852";
}

.#{$css-prefix-iconfont}skype-fill:before {
  content: "\e952";
}

.#{$css-prefix-iconfont}arrawsalt:before {
  content: "\e853";
}

.#{$css-prefix-iconfont}weibo:before {
  content: "\e953";
}

.#{$css-prefix-iconfont}verticalright:before {
  content: "\e854";
}

.#{$css-prefix-iconfont}yuque-fill:before {
  content: "\e954";
}

.#{$css-prefix-iconfont}verticalleft:before {
  content: "\e855";
}

.#{$css-prefix-iconfont}Youtube-fill:before {
  content: "\e955";
}

.#{$css-prefix-iconfont}right:before {
  content: "\e856";
}

.#{$css-prefix-iconfont}yahoo-fill:before {
  content: "\e956";
}

.#{$css-prefix-iconfont}left:before {
  content: "\e857";
}

.#{$css-prefix-iconfont}wechat-fill:before {
  content: "\e957";
}

.#{$css-prefix-iconfont}up:before {
  content: "\e858";
}

.#{$css-prefix-iconfont}chrome-fill:before {
  content: "\e958";
}

.#{$css-prefix-iconfont}down:before {
  content: "\e859";
}

.#{$css-prefix-iconfont}alipay-circle-fill:before {
  content: "\e959";
}

.#{$css-prefix-iconfont}fullscreen:before {
  content: "\e85a";
}

.#{$css-prefix-iconfont}aliwangwang-fill:before {
  content: "\e95a";
}

.#{$css-prefix-iconfont}fullscreen-exit:before {
  content: "\e85b";
}

.#{$css-prefix-iconfont}behance-circle-fill:before {
  content: "\e95b";
}

.#{$css-prefix-iconfont}doubleleft:before {
  content: "\e85c";
}

.#{$css-prefix-iconfont}amazon-circle-fill:before {
  content: "\e95c";
}

.#{$css-prefix-iconfont}doubleright:before {
  content: "\e85d";
}

.#{$css-prefix-iconfont}codepen-circle-fill:before {
  content: "\e95d";
}

.#{$css-prefix-iconfont}arrowright:before {
  content: "\e85e";
}

.#{$css-prefix-iconfont}CodeSandbox-circle-f:before {
  content: "\e95e";
}

.#{$css-prefix-iconfont}arrowup:before {
  content: "\e85f";
}

.#{$css-prefix-iconfont}dropbox-circle-fill:before {
  content: "\e95f";
}

.#{$css-prefix-iconfont}arrowleft:before {
  content: "\e860";
}

.#{$css-prefix-iconfont}github-fill:before {
  content: "\e960";
}

.#{$css-prefix-iconfont}arrowdown:before {
  content: "\e861";
}

.#{$css-prefix-iconfont}dribbble-circle-fill:before {
  content: "\e961";
}

.#{$css-prefix-iconfont}upload:before {
  content: "\e862";
}

.#{$css-prefix-iconfont}googleplus-circle-f:before {
  content: "\e962";
}

.#{$css-prefix-iconfont}colum-height:before {
  content: "\e863";
}

.#{$css-prefix-iconfont}medium-circle-fill:before {
  content: "\e963";
}

.#{$css-prefix-iconfont}vertical-align-botto:before {
  content: "\e864";
}

.#{$css-prefix-iconfont}QQ-circle-fill:before {
  content: "\e964";
}

.#{$css-prefix-iconfont}vertical-align-middl:before {
  content: "\e865";
}

.#{$css-prefix-iconfont}IE-circle-fill:before {
  content: "\e965";
}

.#{$css-prefix-iconfont}totop:before {
  content: "\e866";
}

.#{$css-prefix-iconfont}google-circle-fill:before {
  content: "\e966";
}

.#{$css-prefix-iconfont}vertical-align-top:before {
  content: "\e867";
}

.#{$css-prefix-iconfont}dingtalk-circle-fill:before {
  content: "\e967";
}

.#{$css-prefix-iconfont}download:before {
  content: "\e868";
}

.#{$css-prefix-iconfont}sketch-circle-fill:before {
  content: "\e968";
}

.#{$css-prefix-iconfont}sort-descending:before {
  content: "\e869";
}

.#{$css-prefix-iconfont}slack-circle-fill:before {
  content: "\e969";
}

.#{$css-prefix-iconfont}sort-ascending:before {
  content: "\e86a";
}

.#{$css-prefix-iconfont}twitter-circle-fill:before {
  content: "\e96a";
}

.#{$css-prefix-iconfont}fall:before {
  content: "\e86b";
}

.#{$css-prefix-iconfont}taobao-circle-fill:before {
  content: "\e96b";
}

.#{$css-prefix-iconfont}swap:before {
  content: "\e86c";
}

.#{$css-prefix-iconfont}weibo-circle-fill:before {
  content: "\e96c";
}

.#{$css-prefix-iconfont}stock:before {
  content: "\e86d";
}

.#{$css-prefix-iconfont}zhihu-circle-fill:before {
  content: "\e96d";
}

.#{$css-prefix-iconfont}rise:before {
  content: "\e86e";
}

.#{$css-prefix-iconfont}reddit-circle-fill:before {
  content: "\e96e";
}
