:root {
  // 全局
  --s-white-color: #fff;
  --s-white-text-color: rgb(255 255 255 / 90%);
  --s-black-color: #000;
  --s-black-text-color: rgb(0 0 0 / 90%);
  --s-disabled-opacity: 0.5;

  // 主题色
  --s-primary-color: rgb(50 86 136);
  --s-primary-color-hover: rgb(52 91 146);
  --s-primary-color-active: rgb(42 94 149);

  // info
  --s-info-color: rgb(240 240 240);
  --s-info-color-hover: rgb(235 235 235);
  --s-info-color-active: rgb(217 217 217);

  // success
  --s-success-color: rgb(49 196 141);
  --s-success-color-hover: rgb(40 176 126);
  --s-success-color-active: rgb(28 157 110);

  // warning
  --s-warning-color: rgb(227 179 68);
  --s-warning-color-hover: rgb(222 161 17);
  --s-warning-color-active: rgb(187 133 7);

  // error
  --s-error-color: rgb(249 128 128);
  --s-error-color-hover: rgb(231 113 113);
  --s-error-color-active: rgb(204 92 92);

  // 圆角
  --s-border-radius-sm: 2px;
  --s-border-radius-base: 4px;
  --s-border-radius-lg: 6px;

  .test {
    width: 100px;
    height: 100px;
  }

  // 字体颜色
  @for $i from 0 through 9 {
    $cv: 10 + $i * 20;

    --s-text-color-#{$i}: rgb(#{$cv}, #{$cv}, #{$cv});
  }
}
