$form-prefix-cls: #{$css-prefix}form;
$form-item-prefix-cls: #{$css-prefix}form-item;

.#{$form-prefix-cls} {
  &-label-left {
    .#{$form-item-prefix-cls}-label {
      justify-content: flex-start;
    }
  }

  &-label-right {
    .#{$form-item-prefix-cls}-label {
      justify-content: flex-end;
    }
  }

  &-label-top {
    .#{$form-item-prefix-cls} {
      display: block;

      &-label {
        display: block;
        height: auto;
        margin-bottom: 8px;
        line-height: 22px;
        text-align: left;
      }
    }
  }

  &-inline {
    .#{$form-item-prefix-cls} {
      display: inline-flex;
      margin-right: 32px;
      vertical-align: top;
    }

    &.#{$form-prefix-cls}-label-top {
      display: flex;
      flex-wrap: wrap;

      .#{$form-item-prefix-cls} {
        display: block;
      }
    }
  }
}

.#{$form-item-prefix-cls} {
  display: flex;
  margin-bottom: 24px;
  font-size: $font-size-base;

  &-label {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 34px;
    padding-right: 12px;
    color: $text-color;
    line-height: 34px;
  }

  &-content {
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    line-height: 34px;
  }

  &-error-tip {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 2px 0 0 2px;
    color: $error-color;
    line-height: 1.25;
  }

  &-required {
    .#{$form-item-prefix-cls}-label::before {
      margin-right: 4px;
      color: $error-color;
      content: '*';
    }
  }
}
