$form-prefix-cls: #{$css-prefix}form;
$form-item-prefix-cls: #{$css-prefix}form-item;

.#{$form-prefix-cls} {
  &-label-left {
    .#{$form-item-prefix-cls}-label {
      justify-content: flex-start;
    }
  }

  &-label-right {
    .#{$form-item-prefix-cls}-label {
      justify-content: flex-end;
    }
  }

  &-label-top {
    .#{$form-item-prefix-cls}-label {
      display: block;
      float: none;
      height: 22px;
      margin-bottom: 8px;
      line-height: 22px;
    }
  }

  &-inline {
    .#{$form-item-prefix-cls} {
      display: inline-block;
      margin-right: 32px;
      vertical-align: top;
    }
  }
}

.#{$form-item-prefix-cls} {
  margin-bottom: 24px;

  &-label {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    float: left;
    box-sizing: border-box;
    height: 34px;
    padding-right: 12px;
    color: $text-color;
    font-size: $font-size-base;
    line-height: 1;
  }

  &-content {
    position: relative;
    font-size: $font-size-base;
    line-height: 34px;
  }

  &-error-tip {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 4px 0 0 2px;
    color: $error-color;
    font-size: $font-size-base;
    line-height: 1.25;
  }

  &-required {
    .#{$form-item-prefix-cls}-label::before {
      margin-right: 4px;
      color: $error-color;
      content: '*';
    }
  }
}
