$icon-prefix-cls: #{$css-prefix}icons;

.#{$icon-prefix-cls} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;

  &-spin {
    animation: loop 1s infinite linear;
  }
}
