$input-prefix-cls: #{$css-prefix}input;
$textarea-prefix-cls: #{$css-prefix}textarea;

.#{$input-prefix-cls} {
  display: inline-flex;
  width: 100%;
  color: $text-color;
  font-size: $font-size-base;
  line-height: 34px;

  &-large {
    line-height: 42px;

    .#{$input-prefix-cls}-inner {
      height: 40px;
      line-height: 40px;
    }
  }

  &-small {
    line-height: 24px;

    .#{$input-prefix-cls}-inner {
      height: 22px;
      line-height: 22px;
    }
  }

  &-wrapper {
    position: relative;
    display: inline-flex;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: 34px;
    background: $white;
    border: 1px solid $border-color;
    border-radius: $border-radius-base;
    transition: all $transition-duration;

    &:hover {
      border-color: $primary-color;
    }
  }

  &-focus {
    .#{$input-prefix-cls}-wrapper {
      border-color: $primary-color;
      box-shadow: 0 0 0 2px fade($primary-color, 2);
    }
  }

  &-with-prepend &-wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-with-append &-wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-prepend,
  &-append {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    color: $text-secondary-color;
    white-space: nowrap;
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-radius: $border-radius-base;
  }

  &-prepend {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-append {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-inner {
    flex-grow: 1;
    height: 34px;
    padding: 0;
    line-height: 34px;
    background: none;
    border: none;
    outline: none;
    @include placeholder;

    &[disabled] {
      color: $disabled-text-color;
      cursor: not-allowed;
    }
  }

  &-prefix,
  &-suffix {
    display: inline-flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $text-secondary-color;
  }

  &-prefix > :last-child {
    margin-right: 8px;
  }

  &-suffix > :first-child {
    margin-left: 8px;
  }

  &-icon {
    height: 100%;
    margin-left: 8px;
    font-size: 16px;

    &-clear,
    &-pwd {
      cursor: pointer;
      transition: all $transition-duration;

      &:hover {
        color: shade($text-secondary-color, 3);
      }
    }
  }

  &-disabled {
    cursor: not-allowed;

    .#{$input-prefix-cls}-wrapper {
      background-color: $disabled-bg-color;
    }
  }
}

.#{$textarea-prefix-cls} {
  display: inline-flex;
  width: 100%;
  color: $text-color;
  font-size: $font-size-base;

  &-inner {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 10px;
    line-height: 1.5;
    background-color: $white;
    background-image: none;
    border: 1px solid $border-color;
    border-radius: $border-radius-base;
    outline: none;
    transition-duration: $transition-duration;
    transition-property: border-color, box-shadow;
    resize: vertical;
    @include placeholder;

    &:hover {
      border-color: $primary-color;
    }
  }

  &-focus {
    .#{$textarea-prefix-cls}-inner {
      border-color: $primary-color;
      box-shadow: 0 0 0 2px fade($primary-color, 2);
    }
  }

  &-disabled {
    .#{$textarea-prefix-cls}-inner {
      color: $disabled-text-color;
      background-color: $disabled-bg-color;
      cursor: not-allowed;
    }
  }
}

.#{$form-item-prefix-cls}-error {
  .#{$input-prefix-cls}-wrapper {
    border-color: $error-color;
  }

  .#{$input-prefix-cls}-focus {
    .#{$input-prefix-cls}-wrapper {
      box-shadow: 0 0 0 2px fade($error-color, 2);
    }
  }

  .#{$textarea-prefix-cls}-inner {
    border-color: $error-color;
  }

  .#{$textarea-prefix-cls}-focus {
    .#{$textarea-prefix-cls}-inner {
      box-shadow: 0 0 0 2px fade($error-color, 2);
    }
  }
}
