$input-prefix-cls: #{$css-prefix}input;

.#{$input-prefix-cls} {
  &-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: normal;

    &-small {
      .#{$input-prefix-cls} {
        height: 24px;
        padding: 2px 8px;
        border-radius: $border-radius-small;

        &-icon {
          height: 24px;
          font-size: 14px;
        }
      }
    }

    &-large {
      .#{$input-prefix-cls} {
        height: 40px;
        padding: 6px 8px;
        font-size: 16px;

        &-icon {
          height: 40px;
        }
      }
    }
  }

  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 4px 8px;
  color: $text-color;
  font-size: $font-size-base;
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  cursor: text;
  transition: all $transition-duration;
  @include placeholder;

  &:hover {
    border-color: $primary-color;
  }

  &:focus {
    border-color: $primary-color;
    outline: none;
    box-shadow: 0 0 0 2px fade($primary-color, 2);
  }

  &[disabled] {
    color: $text-secondary-color;
    background-color: shade($bg-color, 0.3);
    cursor: no-drop;
  }

  &-icon {
    position: absolute;
    right: 0;
    width: 34px;
    height: 34px;
    color: $text-secondary-color;
    font-size: 16px;

    &-clear {
      cursor: pointer;
      transition: all $transition-duration;

      &:hover {
        color: $text-color;
      }
    }
  }
}

.#{$form-item-prefix-cls}-error {
  .#{$input-prefix-cls} {
    border-color: $error-color;

    &:focus {
      box-shadow: 0 0 0 2px fade($error-color, 2);
    }
  }
}
