@import '@shuo-ui/styles/custom.module';

.hljs {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.doc {
  &__title {
    margin-bottom: 16px;
    color: $text-color;
    font-weight: bold;
    font-size: 24px;
  }

  &__sec_title {
    margin-bottom: 16px;
    color: $text-color;
    font-weight: bold;
    font-size: 16px;
  }

  &__desc {
    margin-bottom: 16px;
    color: $text-secondary-color;
    font-size: 14px;
  }

  &__code {
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: $border-radius-base;

    pre {
      margin: 0;
    }
  }
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: $scroll-width;
  height: $scroll-height;

  &-thumb {
    background-color: #bfbfbf;
    border-radius: 10px;

    &:hover {
      background-color: #999;
    }
  }
}

@for $i from 0 through 80 {
  @if $i % 2 == 0 or $i % 5 == 0 {
    @each $short, $long in l left, t top, r right, b bottom {
      .m-#{$short}-#{$i} {
        margin-#{$long}: $i + px !important;
      }
    }
  }
}
