::-webkit-scrollbar {
  width: $scroll-width;
  height: $scroll-height;

  &-thumb {
    background-color: #ccc;
    border-radius: 10px;

    &:hover {
      background-color: #b2b2b2;
    }
  }
}

.doc {
  &__title {
    margin-bottom: 16px;
    color: $text-color;
    font-weight: bold;
    font-size: 24px;
  }

  &__sec_title {
    margin: 16px 0;
    color: $text-color;
    font-weight: bold;
    font-size: 16px;
  }

  &__desc {
    margin: 16px 0;
    color: adjust_color($text-color, $lightness: 20%);
    font-size: 14px;
  }

  &__code {
    margin: 16px 0;
    overflow: hidden;
    border-radius: $border-radius-base;

    pre {
      margin: 0;
    }
  }
}

.space {
  &-top {
    margin-top: 32px;
  }

  &-bottom {
    margin-bottom: 32px;
  }
}
