// 宽度
$navbar-height: 60px;
$sidebar-width: 260px;
$scroll-width: 6px;
$scroll-height: 3px;

// 颜色
$bg-color: #fafafa;
$text-color: #333;
$border-color: #ebebeb;

// 内边距
$padding-sm: 12px;
$padding-base: 24px;
$padding-lg: 36px;

// 圆角
$border-sm: 2px;
$border-base: 4px;
$border-lg: 6px;
