@use 'sass:map';
@use 'sass:math';
@use 'sass:color';

$types: primary, info, success, warning, error;

// colors
$colors: ();
$colors: map.deep-merge(
  (
    'white': #fff,
    'black': #000,
    'info': (
      'base': #2080f0
    ),
    'primary': (
      'base': #2080f0
    ),
    'success': (
      'base': #18a058
    ),
    'warning': (
      'base': #f0a020
    ),
    'error': (
      'base': #d03050
    )
  ),
  $colors
);
$color-white: map.get($colors, 'white');
$color-black: map.get($colors, 'black');

@each $type in $types {
  @for $i from 1 through 9 {
    $colors: map.deep-merge(
      (
        $type: (
          'light-#{$i}': color.mix($color-white, map.get($colors, $type, 'base'), math.percentage(math.div($i, 10))),
          'dark-#{$i}': color.mix($color-black, map.get($colors, $type, 'base'), math.percentage(math.div($i, 10)))
        )
      ),
      $colors
    );
  }
}

// text-color
$text-color: () !default;
$text-color: map.merge(
  (
    'default': #303133,
    'regular': #606266,
    'secondary': #909399,
    'placeholder': #a8abb2,
    'disabled': #c0c4cc
  ),
  $text-color
);

// background
$bg-color: () !default;
$bg-color: map.merge(
  (
    'default': #fff
  ),
  $bg-color
);

// border-color
$border-color: () !default;
$border-color: map.merge(
  (
    'default': #dcdfe6,
    'light': #e4e7ed,
    'lighter': #ebeef5,
    'dark': #d4d7de,
    'darker': #cdd0d6
  ),
  $border-color
);

// border-radius
$border-radius: () !default;
$border-radius: map.merge(
  (
    'default': 4px,
    'small': 2px,
    'large': 6px,
    'round': 20px,
    'circle': 100%
  ),
  $border-radius
);

// shadow
$shadow: () !default;
$shadow-color: rgb(0 0 0 / 20%);
$shadow: map.merge(
  (
    'default': 0 1px 6px $shadow-color,
    'top': 0 -1px 6px $shadow-color,
    'bottom': 0 1px 6px $shadow-color,
    'left': -1px 0 6px $shadow-color,
    'right': 1px 0 6px $shadow-color
  ),
  $shadow
);

// 全局
$white-color: #fff;
$white-text-color: rgb(255 255 255 / 90%);
$black-color: #000;
$black-text-color: rgb(0 0 0 / 90%);
$disabled-opacity: 0.5;

// 主题色
$primary-color: rgb(50 86 136);
$primary-color-hover: adjust_color($primary-color, $lightness: 10%);
$primary-color-active: adjust_color($primary-color, $lightness: -10%);
$primary-color-dark: adjust_color($primary-color, $lightness: -20%);

// default
$default-color: rgb(240 240 240);
$default-color-hover: adjust_color($default-color, $lightness: -5%);
$default-color-active: adjust_color($default-color, $lightness: -15%);
$default-color-dark: adjust_color($default-color, $lightness: -20%);

// info
$info-color: rgb(144 147 153);
$info-color-hover: adjust_color($info-color, $lightness: 10%);
$info-color-active: adjust_color($info-color, $lightness: -10%);
$info-color-dark: adjust_color($info-color, $lightness: -20%);

// success
$success-color: rgb(49 196 141);
$success-color-hover: adjust_color($success-color, $lightness: 10%);
$success-color-active: adjust_color($success-color, $lightness: -10%);
$success-color-dark: adjust_color($success-color, $lightness: -20%);

// warning
$warning-color: rgb(227 179 68);
$warning-color-hover: adjust_color($warning-color, $lightness: 10%);
$warning-color-active: adjust_color($warning-color, $lightness: -10%);
$warning-color-dark: adjust_color($warning-color, $lightness: -20%);

// error
$error-color: rgb(249 128 128);
$error-color-hover: adjust_color($error-color, $lightness: 10%);
$error-color-active: adjust_color($error-color, $lightness: -10%);
$error-color-dark: adjust_color($error-color, $lightness: -20%);

// border
$border-radius-sm: 2px;
$border-radius-base: 4px;
$border-radius-lg: 6px;
